{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css')}}">
<div class="intro">
    <h1>Schpoople</h1>
    <p style="font-size:20px;">a social media platform where everything is absolute gibberish!</p>
</div>
{% for post in posts.items %}
<fieldset>
    <legend><img style="border-radius:50%;" src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}"></legend>
<div class="date">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
<div class="author">Author:<a href="{{url_for('user_posts', username=post.author.username) }}">{{ post.author.username}}</a></div>
<div class="content">
    Title: <h2><a href="{{url_for('post',post_id = post.id) }}">{{ post.title }}</a></h2>
    {{ post.content }}
</div>
</fieldset>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1,right_current=2) %}
{% if page_num %}
<a href="{{ url_for('home', page=page_num)}}">{{page_num}}</a>
{% else %}
....
{%endif %}
{% endfor %}
{% endblock content %}
